[submodule "include/kiprplus"]
	path = include/kiprplus
	url = https://github.com/frenchbakery/kiprplus
[submodule "include/el-std"]
	path = include/el-std
	url = https://github.com/melektron/el-std.git
